body{
    margin: 0;
    padding: 0;
}
.stage{
    background-image: url("img/stage.png");
    background-repeat: no-repeat;
    background-size: 1000px 600px;
    height: 769px;
    width: 1280px;
}
.dog{
    background: url("img/sprite.png") no-repeat 0 0;
    position: fixed;
    top: 402px;
    width: 120px;
    height: 100px;
    left: 10px;
    transition: left 3s linear;
    animation: dogwalk 0.5s steps(4) 6,
    dogsniff 0.5s 3s steps(2) 4,
    dogjump 1s 5s steps(3) 1,
    doglaugh 0.5s 6s steps(2) 4;
}
.dogmove{
    left: 300px;
}
@keyframes dogwalk {
    from{
        background-position: 0 0;
    }
    to{
        background-position: -480px 0;
    }
}
@keyframes dogsniff {
    from{
        background-position: -360px 0;
    }
    to{
        background-position: -600px 0;
    }
}
@keyframes dogjump {
    from{
        background-position: 0 -110px;
    }
    to{
        background-position: -360px -110px;
    }
}
@keyframes doglaugh {
    from{
        background-position: -360px -110px;
    }
    to{
        background-position: -600px -110px;
    }
}